ion-list > p {
    margin-top: -1rem;
}

.cardfooter {
    margin-bottom: 1.25rem;
}

.price-container {
    font-size: 1.125rem;
    margin-top: 0.75rem;
}

.message-text {
    margin-top: -1rem;
    position: absolute;
    width: 100%;
}