.bottom {
    position: fixed;
    bottom: 0;
    padding: 0 0.15rem;
    width: 100%;
    background: #fff;
}

.coupon {
    font-size: 13px;
    color: #666;
}

p,.label {
    font-size: 15px;
    color: #222;
}