<ion-header>
  <app-toolbar title="Contact us"></app-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-row class="ion-justify-content-center ion-align-items-center" style='height: 90%'>
    <p class="ion-text-justify" padding>
      <ion-text style="font-size:1em;">
        <h6>To contact us, you can</h6>
      </ion-text>
      <a href='tel:+919916150115'>
        <ion-button expand="block">
          <ion-icon name="call"></ion-icon> &nbsp;Call us maybe
        </ion-button>
      </a>
      <a href='mailto:account@domain.com?subject=Your Company name - Support'>
        <ion-button expand="block">
          <ion-icon name="mail"></ion-icon> &nbsp;Drop an email
        </ion-button>
      </a>
    </p>
  </ion-row>
</ion-content>