<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="login" *ngIf="!isAuthenticated">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account" *ngIf="isAuthenticated">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>My Account</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
      <ion-badge *ngIf="cartItemCount>0">{{cartItemCount}}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>