<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let category of categoryList">
      <div class="card-background-page">
        <ion-card (click)='setContext(category.id,category.slug)' routerLink='/home/products-by-category/{{category.id}}' class="ion-no-margin">
          <img [src]="category.image.src" />
          <div class="card-title">{{category.slug}}</div>
          <div class="card-subtitle">{{category.count}} products</div>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<div *ngIf="showCategoryLoading">
  <ion-item *ngFor="let item of [].constructor(2)" lines="none" class="ion-no-margin">
    <ion-thumbnail slot="start" class="tile">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-thumbnail>
    <ion-thumbnail slot="start" class="tile">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-thumbnail>
  </ion-item>
</div>